#header{
height: 60px;
line-height:60px;
text-align: center;
background:#44B78B;
color:white;
}
#header a{
color:white;
font-size:20px;
padding-right:20px;
}
#footer{
height:120px;
color:#999;
background-color:#f9f9f9;
text-align:center;
padding:40px 0;
border-top:1px solid #e5e5e5;
}
